{% extends 'blog/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h1>Blogs</h1>
{% endblock page_header %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'blog:new_blog' %}" role="button">Add a new blog</a>

    <ul class="list-group border-bottom pb-2 mb-4">
        {% for blog in blogs %}
            <li class="list-group-item border-0">
                <a href="{% url 'blog:blog' blog.id %}" class="list-group-item list-group-item-action">{{ blog.name }} - by {{ blog.owner.username }}</a>
            </li>
        {% empty %}
            <li class="list-group-item border-0">No topics have been added yet.</li>
        {% endfor %}

    </ul>




{% endblock content%}